button {
    border: 5px solid black;
    border-radius: 50%;
    color: white;
    background-color: rgb(37, 37, 37);
}
#clear, #negative, #percent {
    color: black;
    background-color: rgb(170, 170, 170);
}
#divide, #multiply, #subtract, #add, #equals {
    background-color: orange;
}
#calculator {
    width: 55vh;
    height: 91vh;
    background-color: black;
}
#display {
    display: flex;
    font-size: 70px;
    align-self: flex-end;
    justify-content: flex-end;
    color: white;;
}